@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$fullhd_padding: 231px;
$laptop_padding: 50px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #121212;
	font-family: 'Open Sans', sans-serif;
	padding-left: $fullhd_padding;
	padding-right: $fullhd_padding;
}

@media (max-width: 1900px) {
	body {
		padding-left: $laptop_padding;
		padding-right: $laptop_padding;
	}
}

.linkActive {
	@apply text-white;
}

.linkActive::after {
	content: '';
	@apply absolute left-0 -bottom-[30px] h-0.5 w-full bg-[#FFCC00] transition-all duration-300;
}

.linkActive::before {
	content: '';
	@apply absolute -right-3 top-[9px]  h-1 w-1 rounded-full  bg-[#FFCC00] transition-all duration-300;
}

.blockActive::after {
	content: '';
	@apply absolute left-0 -bottom-2  h-0.5 w-full bg-[#FFCC00] transition-all duration-300;
}

/* .video-player-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
*/

.rup__animation {
	position: absolute;
	width: calc(100% + 60px);
	height: 580px;
	top: -150px;
	left: -30px;
	z-index: 0;
}

.audio-animation,
.audio-animation__fallback {
	width: 100%;
	height: 100%;
}

.audio-animation__fallback video {
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.audio-animation {
	position: relative;
}

.audio-animation__fallback-fade {
	width: 0;
	height: 592px;
	position: absolute;
	top: 0;
	left: 0;
	left: 407px;
	width: 631px;
}

.audio-animation__fade-top {
	position: absolute;
	background: linear-gradient(#181818, rgba(24, 24, 24, 0));
	top: 0;
	width: 100%;
	height: 100px;
}

.audio-animation__fade-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(rgba(24, 24, 24, 0), #181818);
}

.audio-animation__fallback-fade-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 110%;
	background: linear-gradient(90deg, #181818, rgba(24, 24, 24, 0));
}

.audio-animation__fallback-fade-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 100%;
	background: linear-gradient(90deg, rgba(24, 24, 24, 0), #181818);
}

.video-react-control-bar,
.video-react-big-play-button {
	display: none;
}

.bar {
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	max-width: calc(100% - $fullhd_padding * 2);
	z-index: 101;
}

.bar__content {
	position: relative;
}

.progress {
	@apply rounded-none;
	position: absolute;
	right: 0;
	left: 0;
	color: #ffcc00;
	bottom: 76px;
	height: 12px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.controls {
	@apply py-5 px-8;
	background-color: rgba(24, 24, 24, 0.95);
}

.PlaylistMenu {
	width: 30%;
	right: 14.5rem;
	top: 6rem;
	height: calc(100% - 225px);
	position: absolute;
	z-index: 30;
}

.PlaylistMenu_fixed{
	width: 30%;
	right: 14.5rem;
	top: 0rem;
	height: 100vh;
	position: fixed
}

@media (max-width: 1900px) {
	.PlaylistMenu {
		width: 30%;
		right: 4rem;
		top: 6rem;
		height: (100%-30%);
	}

	.bar {
		max-width: calc(100% - $laptop_padding * 2);
	}
}
